body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(252, 249, 249);
    --text-color: #ffffff;
}
:root{
    --header-footer-color: rgb(70, 70, 247);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-color);
    color:#ffffff;
    margin-bottom: 10px;
    padding: 10px;
}

header ul li a{
    color: var(--text-color);
    transition: 0.5s border-bottom;
}
/* Removing list small icons*/
ul
{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    border-bottom: 2px solid pink;
    border-radius: 2px;
}

li{
    display: inline-block;
    margin-right: 5px;;
}

.search-area{
    margin-bottom: 10px;
}

#searchBookBtn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color:blue;
    color: var(--text-color);
}

#searchBookInput{
    border: 1px solid #55f;
    border-radius: 5px;
    outline: none;
    padding: 10px;

}
.news-feed-area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.suggestions, .friend-readings{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}
/*
@scope(.news-feed-area){
    background: #000;
}
    */

footer{
    margin-top: 20px;
    text-align: center;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    padding: 10px;
}

.suggestions{
    font-size: 0.8em;
}
.book-space{
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.book-space> div:first-of-type{
  display: flex;
  justify-content: space-between;  
}

.author-name{
    font-weight: bold;
}



